@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

:where(.css-dev-only-do-not-override-1tsb505).ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 0 !important;
}